
body
{
	color: #000066;
	background-color: white;
	font-family: serif;
	margin: 0px;
	padding: 0;
	border: 0
}

div
{
	padding: 0 0 0 0;
	margin: 0 0 0 0
}

#top-bar
{
	text-align: left;
	background: #CC0000;
	padding-bottom: 1px;

	color: #FFCCCC;
       text-decoration: none;
       font-weight: bold;
       font-family: arial;
       font-size: 0.8em;

       border-bottom-style: solid;
       border-bottom-width: 2px;
       border-bottom-color: #000099
}

#top-bar A
{
color: #FFCCCC;
       text-decoration: none;
       font-weight: bold;
       font-family: arial
}

#header
{
background: #FFCCCC;
	    text-align: left;
padding: 0.2em;
margin: 0;
}
#header A
{
	color: #FF3333;
	font-size: 0.6em;
	text-decoration: none;
	font-weight: bold;
	font-family: sans-serif
}

#header h1
{
	font-size: 2em;
	text-align: left;
	font-family: arial;
	font-weight: bold;
color:#CC0000;
padding: 0;
margin: 0 0 0 2em;
}
#header h3
{
	font-size: 0.8em;
	text-align: center;
	font-family: arial;
	font-weight: bold;
color:#CC0000;
padding: 0;
margin: 0 0 0 2em;
}


#main-container
{
	/*	padding: 0.5em 0.5em 0.5em 0.5em;*/
display: table-cell;
}

#menu
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
height: 3.5em
}

#menu-item
{
float: left;
width: 15%;
padding: 0.5em 0em 0.5em 0em;
margin: 0;

background: #3366FF;

color: white;
       font-family: arial;
       font-size: 0.9em;
       font-weight: bold;
       text-align: center;

       border-style: solid;
       border-width: 2px 0 2px 0;
       border-color: #000099
}

#menu-item a
{
color: #FFFFFF;
       font-family: arial;
       font-weight: bold
}

#menu-item.current
{
background: #000099;
	    font-weight: bold;

	    border-color: #3366FF
}

#contents
{
margin: 0em 0em 0em 0em;
padding: 0em 1em 1em 1em;
background: #FFFFCC;
display: table-cell;

color: #000066;

       border-style: solid;
       border-width: 2px;
       border-color: #000099;

       text-align: justify
}

#contents h2
{
	font-family: arial;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
color: #CC0000;
margin: 0px;
	margin-left: 0;
	margin-top: 0em;
	margin-bottom: 1em;
border: 0px;
padding: 0px
}

#contents h3
{
	font-family: arial;
	text-align: left;
	font-size: 1.5em;
	font-weight: bold;
color: #000066;
margin: 0px;
	margin-left: 0;
	margin-top: 1.3em;
	margin-bottom: 0em;
border: 0px;
padding: 0px
}

#contents h4
{
	font-family: arial;
	text-align: left;
	font-size: 1.1em;
	font-weight: bold;
color: #000066;
margin: 0px;
	margin-left: 0;
	margin-top: 1em;
	margin-bottom: 0em;
border: 0px;
padding: 0px
}

#contents h5
{
	font-family: arial;
	text-align: left;
	font-size: 0.8em;
	font-weight: bold;
color: #000066;
margin: 0px;
	margin-left: 0;
	margin-top: 1em;
	margin-bottom: 0em;
border: 0px;
padding: 0px
}

#contents p
{
border: 0px;
padding: 0px;
margin: 0 0 0 0
}

a.gray:link {
color:#990000;

}
a.gray:visited {
color:#990000;

}
a.gray:hover {
color:#990000;

}
a.gray:active {
color:#990000;
}

a.blue:link {
color:#0000FF;

}
a.blue:visited {
color:#0000FF;

}
a.blue:hover {
color:#0000FF;

}
a.blue:active {
color:#0000FF;
}
h1
{
	font-family: arial;
	text-align: left;
	font-size: 175%;
margin: 1em
}

h2.nomargintop
{
	margin-top: 0px
}

code
{
	background-color: #bfdfdf
}

pre
{
	background-color: #bfdfdf;
}


#footer
{
	text-align: left;
background: #CC0000;
	    padding-bottom: 1px;

color: #FFCCCC;
       text-decoration: none;
       font-weight: bold;
       font-family: arial;
       font-size: 0.8em;

       border-top-style: solid;
       border-top-width: 2px;
       border-top-color: #000099
}

#footer A
{
color: #003399;
       font-weight: bold;
       font-family: arial
}

table
{
	empty-cells: show;
padding: 0
}

table.main
{
border: 1px;
	border-color: #000000;
	border-collapse: collapse;
	border-style: solid;
	text-align: center;

	empty-cells: show;
}

table.main TD
{
	border-style: none;
	padding: 0 2px 0 2px;
}

table.main TH
{
	background-color: #ffdead;
	border-style: none;
}


table.main CAPTION
{
	font-family: arial;
	text-align: left;
	font-size: 1.0em;
	font-weight: bold;
}
table.submain
{
	border: 1px;
	border-color: #000000;
	border-collapse: collapse;
	border-style: solid;
	text-align: left;

	empty-cells: show;
}

table.submain TD
{
	padding: 0 2px 0 2px;
}

table.submain TH
{
	background-color: #ffdead;
}


table.submain CAPTION
{
	font-family: arial;
	text-align: left;
	font-size: 0.8em;
}
